<div>
  <div>
    <h1 class="multicolortext" style="margin-bottom: 2rem;">Kapcsolat felvétel</h1>
    <div>
      <form>
        <div style="display: grid">
          <mat-form-field appearance="outline">
            <mat-label>Keresztnév</mat-label>
            <input matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Vezetéknév</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
        <div style="display: grid">
          <mat-form-field appearance="outline">
            <mat-label>Email-cím</mat-label>
            <input matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Üzenet</mat-label>
            <textarea matInput rows="4" placeholder="Description"></textarea>
          </mat-form-field>
        </div>
        <button class="btn-cta">Küldés</button>
      </form>
    </div>
  </div>
  <div>
    <h1 class="multicolortext" style="margin-top: 2rem; margin-bottom: 2rem;">Elérhetőségek</h1>
    <div class="contact-text">
      <div class="title">Teljes Név:</div>
      <div class="text">Magyar Dorina</div>
    </div>
    <div class="contact-text">
      <div class="title">Email-cím:</div>
      <div class="text">dorina.magyar@protonmail.com</div>
    </div>
    <div class="contact-text">
      <div class="title">LinkedIn:</div>
      <div class="text">www.linkedin.com/in/dorina-magyar</div>
    </div>
  </div>
</div>
