.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-class {
  background-color: var(--black-color);
  /* width: 40%; */
  display: flex;
  margin-right: 0.5rem;
}

.mat-drawer-inner-container {
  display: flex;
}

.list {
  margin: 1rem;
}

.icon {
  padding-bottom: 2rem;
  font-size: 40px;
  cursor: pointer;
}

.icon:hover {
  color: var(--main-color);
}

.download {
  color: var(--light-color);
}

.selected {
  color: var(--light-color);
}

.group {
  display: grid !important;
  justify-content: center !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.info{
  position: absolute;
  bottom: 100px;
  display: grid;
  justify-items: center;
  max-width: 527px;
}

.image-style{
  width: 100%;
  height: 100%;
  max-width: 527px;
  max-height: 100%;
}

.name {
  font-size: 70px;
}

.pos {
  font-size: 40px;
  color: var(--back-purple-color);
}

.logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
}

.logo {
  width: 10%;
  height: 10%;
  cursor: pointer;
}

.contents {
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}
