<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="sidenav-class">
    <div class="list">
      <div class="group">
        <span class="material-icons icon">
          arrow_back_ios
        </span>
      </div>
      <div class="group">
        <span class="material-icons icon">
          person_outline
        </span>
        <span class="material-icons icon">
          school
        </span>
        <span class="material-icons icon">
          work_outline
        </span>
        <span class="material-icons icon">
          public
        </span>
        <span class="material-icons icon">
          chat_bubble_outline
        </span>
      </div>
      <div class="group">
        <span class="material-icons icon">
          translate
        </span>
        <span class="material-icons icon download">
          cloud_download
        </span>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>main content</mat-sidenav-content>
</mat-sidenav-container>
