<div>
  <div>
    <h1 class="multicolortext" style="margin-bottom: 2rem;">{{'PAGE.MESSAGES.CONTACT' | translate}}</h1>
    <div>
      <form>
        <div style="display: grid">
          <mat-form-field appearance="outline">
            <mat-label>{{'PAGE.MESSAGES.FIRST_NAME' | translate}}</mat-label>
            <input matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'PAGE.MESSAGES.LAST_NAME' | translate}}</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
        <div style="display: grid">
          <mat-form-field appearance="outline">
            <mat-label>{{'PAGE.MESSAGES.EMAIL_ADDRESS' | translate}}</mat-label>
            <input matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'PAGE.MESSAGES.MESSAGE' | translate}}</mat-label>
            <textarea matInput rows="4" placeholder="Description"></textarea>
          </mat-form-field>
        </div>
        <button class="btn-cta">{{'GENERIC.ACTION.SEND' | translate}}</button>
      </form>
    </div>
  </div>
  <div style="padding-bottom: 2rem;">
    <h1 class="multicolortext" style="margin-top: 2rem; margin-bottom: 2rem;">{{'PAGE.MESSAGES.CONTACT_DETAILS' | translate}}</h1>
    <div class="contact-text">
      <div class="title">{{'PAGE.MESSAGES.FULL_NAME' | translate}}:</div>
      <div class="text">{{'GENERIC.NAME' | translate}}</div>
    </div>
    <div class="contact-text">
      <div class="title">{{'PAGE.MESSAGES.EMAIL_ADDRESS' | translate}}:</div>
      <div class="text">dorina.magyar@protonmail.com</div>
    </div>
    <div class="contact-text">
      <div class="title">LinkedIn:</div>
      <a href="https://www.linkedin.com/in/dorina-magyar/" target="_blank">
        <div class="text">www.linkedin.com/in/dorina-magyar</div>
      </a>
    </div>
  </div>
</div>
