.info-text {
  /* margin-bottom: 0.5rem; */
  margin-left: 1rem;
  color: var(--main-color);
  font-style: italic;
}

.title {
  text-align: center;
  font-size: 20px;
}

.desc {
  text-align: center;
}

.mat-expansion-panel {
  background-color: var(--black-color);
}

.date-text {
  text-align: right;
  color: var(--light-color);
}

.link {
  text-align: center;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  cursor: pointer;
}
