<div>
  <div>
    <h1 class="multicolortext">Referenciák</h1>
    <div class="card">
      <div style="display:grid; justify-content:center;">
        <img src="../../../assets/picture/image-from-rawpixel-id-2597880-original.png" width="100%" height="50%">
        <h4 class="multicolortext title">Personal Site</h4>
        <div class="desc">ngjngslkn</div>
        <div class="date-text">2022.</div>
        <div class="link">Forráskód megtekintése</div>
      </div>
    </div>
    <div class="card">
      <div style="display:grid; justify-content:center;">
        <img src="../../../assets/picture/logo_page_header.png" width="100%">
        <h4 class="multicolortext title">Szakdolgozat</h4>
        <div class="desc">Angular & NodeJS - The MEAN Stack Guide tananyag elvégzése. Webáruháza alkalmazás beépített adminisztrációs felülettel a könnyebb kezelhetőség érdekében. Különböző szoftverek</div>
        <div class="date-text">2021.szept. - 2021.dec.</div>
        <div class="link">Forráskód megtekintése</div>
      </div>
    </div>
  </div>
</div>
