<div>
  <div style="display: flow-root;">
    <h1 class="multicolortext">{{'PAGE.REFERENCES.REFERENCE' | translate}}</h1>
    <div class="card">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/picture/image-from-rawpixel-id-2597880-original.png" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="flip-card-back card" style="display:grid; justify-content:center;">
            <h2 class="multicolortext title">{{'PAGE.REFERENCES.PERSONAL_PORTFOLIO' | translate}}</h2>
            <p style="text-align: left;">
              Az alkalmazás elkészítésének fő célja, hogy bemutathassam magamat és a munkámat az önélatrajzon kívűl.
              Jelenleg egyre több helyen válik népszerűvé az úgy nevezett self-brand oldalak elkészítése.
            </p>
            <div class="date-text">2022.jan. - 2022.feb.</div>
            <div class="link">
              {{'GENERIC.ACTION.VIEW_SOURCE_CODE' | translate}}
              <span class="material-icons">
                arrow_forward_ios
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/picture/logo_page_header.png" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="flip-card-back card" style="display:grid; justify-content:center;">
            <h2 class="multicolortext title">{{'PAGE.REFERENCES.THESIS' | translate}}</h2>
            <p style="text-align: left;">A program sikeresen bemutat egy működő webáruházat, ami kisvállalkozók saját
              termékeinek értékesítésére alkalmas. Az alkalmazást első sorban egy vállalkozó általi
              megkeresés céljából készítettem el. Az alkalmazás megvalósítására használt MEAN szoftverköteg nem egyedi, hiszen rengeteg projektnek az alapjaként szolgál, mégis a kliensoldalon használt
              kiegészítő csomagjainak segítségével egy hangulatos, elsősorban kozmetikai eszközök értékesítését szolgáló webáruházat sikerült fejlesztenem.</p>
            <div class="date-text">2021.szept. - 2021.dec.</div>
            <div class="link">
              {{'GENERIC.ACTION.VIEW_SOURCE_CODE' | translate}}
              <span class="material-icons">
                arrow_forward_ios
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/picture/fullstack.png" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="flip-card-back card" style="display:grid; justify-content:center;">
            <h2 class="multicolortext title">{{'PAGE.REFERENCES.FULLSTACK' | translate}}</h2>
            <p style="text-align: left;">A program bemutat egy műgödő webáruházat. A felhasználó közel 100 temék közül válogathat kedvére. Ha kiválasztotta az adott terméket, amit megszeretne vásárolni,
              akkor csak a kosarához kell adni a megfelelő gombbal ha többet szeretne venni egy adott termékből vagy törölni szeretné utólag a kosarában erre van lehetőség.
              Ha biztos a megvásárlandó termékekbe akkor az adatai megadásával bankártyás fizetéssel véglegesítve leadhatja a rendelését, amit feldolgozok.</p>
            <div class="date-text">2021.jan. - 2021.jún.</div>
            <div class="link">
              {{'GENERIC.ACTION.VIEW_SOURCE_CODE' | translate}}
              <span class="material-icons">
                arrow_forward_ios
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/picture/eve_julia.jpg" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="flip-card-back card" style="display:grid; justify-content:center;">
            <h2 class="multicolortext title">{{'PAGE.REFERENCES.EVE_JULIA' | translate}}</h2>
            <p style="text-align: left;">
              A weboldal egy kisvállalkozó kozmetikai termékeit bemutató felület. Az oldalon látható hírek tájékoztatja az érdeklőket,
              hogy melyik kézműves vásárban találhatóak meg legközelebb a termékei.
            </p>
            <div class="date-text">2019 - 2020</div>
            <div class="link">
              {{'GENERIC.ACTION.VIEW_WEBSITE' | translate}}
              <span class="material-icons">
                arrow_forward_ios
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
