<div>
  <div style="display: flow-root;">
    <h1 class="multicolortext">Referenciák</h1>
    <div class="card">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/picture/image-from-rawpixel-id-2597880-original.png" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="flip-card-back card" style="display:grid; justify-content:center;">
            <h2 class="multicolortext title">Személyes portfolió</h2>
            <p style="text-align: left;">A program sikeresen bemutat egy működő webáruházat, ami kisvállalkozók saját
              termékeinek értékesítésére alkalmas. Az alkalmazást első sorban egy vállalkozó általi
              megkeresés céljából készítettem el. Az alkalmazás megvalósítására használt MEAN szoftverköteg nem egyedi, hiszen rengeteg projektnek az alapjaként szolgál, mégis a kliensoldalon használt
              kiegészítő csomagjainak segítségével egy hangulatos, elsősorban kozmetikai eszközök értékesítését szolgáló webáruházat sikerült fejlesztenem.</p>
            <div class="date-text">2022.jan. - 2022.feb.</div>
            <div class="link">
              Forráskód megtekintése
              <span class="material-icons">
                arrow_forward_ios
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/picture/logo_page_header.png" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="flip-card-back card" style="display:grid; justify-content:center;">
            <h2 class="multicolortext title">Szakdolgozat</h2>
            <p style="text-align: left;">A program sikeresen bemutat egy működő webáruházat, ami kisvállalkozók saját
              termékeinek értékesítésére alkalmas. Az alkalmazást első sorban egy vállalkozó általi
              megkeresés céljából készítettem el. Az alkalmazás megvalósítására használt MEAN szoftverköteg nem egyedi, hiszen rengeteg projektnek az alapjaként szolgál, mégis a kliensoldalon használt
              kiegészítő csomagjainak segítségével egy hangulatos, elsősorban kozmetikai eszközök értékesítését szolgáló webáruházat sikerült fejlesztenem.</p>
            <div class="date-text">2021.szept. - 2021.dec.</div>
            <div class="link">
              Forráskód megtekintése
              <span class="material-icons">
                arrow_forward_ios
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/picture/fullstack.png" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="flip-card-back card" style="display:grid; justify-content:center;">
            <h2 class="multicolortext title">Fullstack egyetemi projekt</h2>
            <p style="text-align: left;">A program sikeresen bemutat egy működő webáruházat, ami kisvállalkozók saját
              termékeinek értékesítésére alkalmas. Az alkalmazást első sorban egy vállalkozó általi
              megkeresés céljából készítettem el. Az alkalmazás megvalósítására használt MEAN szoftverköteg nem egyedi, hiszen rengeteg projektnek az alapjaként szolgál, mégis a kliensoldalon használt
              kiegészítő csomagjainak segítségével egy hangulatos, elsősorban kozmetikai eszközök értékesítését szolgáló webáruházat sikerült fejlesztenem.</p>
            <div class="date-text">2021.jan. - 2021.jún.</div>
            <div class="link">
              Forráskód megtekintése
              <span class="material-icons">
                arrow_forward_ios
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/picture/eve_julia.jpg" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="flip-card-back card" style="display:grid; justify-content:center;">
            <h2 class="multicolortext title">Eve Julia</h2>
            <p style="text-align: left;">A program sikeresen bemutat egy működő webáruházat, ami kisvállalkozók saját
              termékeinek értékesítésére alkalmas. Az alkalmazást első sorban egy vállalkozó általi
              megkeresés céljából készítettem el. Az alkalmazás megvalósítására használt MEAN szoftverköteg nem egyedi, hiszen rengeteg projektnek az alapjaként szolgál, mégis a kliensoldalon használt
              kiegészítő csomagjainak segítségével egy hangulatos, elsősorban kozmetikai eszközök értékesítését szolgáló webáruházat sikerült fejlesztenem.</p>
            <div class="date-text">2019 - 2020</div>
            <div class="link">
              Weboldal megtekintése
              <span class="material-icons">
                arrow_forward_ios
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
