<div>
  <div>
    <h1 class="multicolortext">{{'PAGE.WORK.EXPERIENCE' | translate}}</h1>
    <div>
      <div class="info-text">2021-jelenleg</div>
      <div class="info-text">Propair Flight Kft.</div>
      <div>
        <h3 style="margin-left: 1rem;">{{'PAGE.WORK.TITLE_PROPAIR' | translate}}</h3>
        <ul style="margin-left: 2rem; list-style-type: none;">
          <li>Agilis projektszemlélet</li>
          <li>Scrum módszer</li>
          <li>Angular keretrendszer használata</li>
          <li>REST API-k megismerése</li>
          <li>HTML5, SASS és TypeScript programozás</li>
          <li>UI/UX alkalmazása</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="info-text">2019.</div>
      <div class="info-text">AImotive</div>
      <div>
        <h3 style="margin-left: 1rem;">{{'PAGE.WORK.TITLE_AIMOTIVE' | translate}}</h3>
        <ul style="margin-left: 2rem; list-style-type: none;">
          <li>Mesterséges intelligenciával rendelkező önvezető autónak a képi feldolgozása, előkészítése</li>
          <li>Monotonitástűrés</li>
          <li>Önálló munkavégzés</li>
          <li>Írásban kapott utasítások pontos követése</li>
          <li>Logikus gondolkodás</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="info-text">2016.</div>
      <div class="info-text">Térségi Hulladék - Gazdálkodási Nonprofit Kft.</div>
      <div>
        <h3 style="margin-left: 1rem;">{{'PAGE.WORK.TITLE_HIGH_SCHOOL' | translate}}</h3>
        <ul style="margin-left: 2rem; list-style-type: none;">
          <li>Kéthónapos szakmai gyakorlat</li>
          <li>Rendszergazdai feladatok</li>
        </ul>
      </div>
    </div>
    <div style="padding-bottom: 2rem;">
      <div class="info-text">2015.</div>
      <div class="info-text">Giganet Internet Szolgáltató Kft.</div>
      <div>
        <h3 style="margin-left: 1rem;">{{'PAGE.WORK.TITLE_HIGH_SCHOOL' | translate}}</h3>
        <ul style="margin-left: 2rem; list-style-type: none;">
          <li>Egyhónapos szakmai gyakorlat</li>
          <li>Levelező alkalmazás fejlesztése androidos telefonra</li>
        </ul>
      </div>
    </div>
  </div>
</div>
