<div>
  <div>
    <h1 class="multicolortext">{{'PAGE.WORK.EXPERIENCE' | translate}}</h1>
    <div>
      <div class="info-text">2021-jelenleg</div>
      <div class="info-text">Propair Flight Kft.</div>
      <div>
        <h3 style="margin-left: 1rem;">{{'PAGE.WORK.TITLE_PROPAIR' | translate}}</h3>
        <ul style="margin-left: 2rem; list-style-type: none;">
          <li>{{'PAGE.WORK.DESCRIPT_PROPAIR_ONE' | translate}}</li>
          <li>{{'PAGE.WORK.DESCRIPT_PROPAIR_TWO' | translate}}</li>
          <li>{{'PAGE.WORK.DESCRIPT_PROPAIR_THREE' | translate}}</li>
          <li>{{'PAGE.WORK.DESCRIPT_PROPAIR_FOUR' | translate}}</li>
          <li>{{'PAGE.WORK.DESCRIPT_PROPAIR_FIVE' | translate}}</li>
          <li>{{'PAGE.WORK.DESCRIPT_PROPAIR_SIX' | translate}}</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="info-text">2019.</div>
      <div class="info-text">AImotive</div>
      <div>
        <h3 style="margin-left: 1rem;">{{'PAGE.WORK.TITLE_AIMOTIVE' | translate}}</h3>
        <ul style="margin-left: 2rem; list-style-type: none;">
          <li>{{'PAGE.WORK.DESCRIPT_AIMOTIVE_ONE' | translate}}</li>
          <li>{{'PAGE.WORK.DESCRIPT_AIMOTIVE_TWO' | translate}}</li>
          <li>{{'PAGE.WORK.DESCRIPT_AIMOTIVE_THREE' | translate}}</li>
          <li>{{'PAGE.WORK.DESCRIPT_AIMOTIVE_FOUR' | translate}}</li>
          <li>{{'PAGE.WORK.DESCRIPT_AIMOTIVE_FIVE' | translate}}</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="info-text">2016.</div>
      <div class="info-text">Térségi Hulladék - Gazdálkodási Nonprofit Kft.</div>
      <div>
        <h3 style="margin-left: 1rem;">{{'PAGE.WORK.TITLE_HIGH_SCHOOL' | translate}}</h3>
        <ul style="margin-left: 2rem; list-style-type: none;">
          <li>{{'PAGE.WORK.DESCRIPT_HULL_ONE' | translate}}</li>
          <li>{{'PAGE.WORK.DESCRIPT_HULL_TWO' | translate}}</li>
        </ul>
      </div>
    </div>
    <div style="padding-bottom: 2rem;">
      <div class="info-text">2015.</div>
      <div class="info-text">Giganet Internet Szolgáltató Kft.</div>
      <div>
        <h3 style="margin-left: 1rem;">{{'PAGE.WORK.TITLE_HIGH_SCHOOL' | translate}}</h3>
        <ul style="margin-left: 2rem; list-style-type: none;">
          <li>{{'PAGE.WORK.DESCRIPT_GIGA_ONE' | translate}}</li>
          <li>{{'PAGE.WORK.DESCRIPT_GIGA_TWO' | translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
