.info-text {
  margin-left: 1rem;
  color: var(--main-color);
  font-style: italic;
}

.info-group {
  display: flex;
  justify-content: space-evenly;
}

.canvas-group {
  display: flex;
  width: 50%;
}

@media (max-width: 50em){
  .info-group {
    display: block;
  }
}
