<div>
  <div>
    <h1 class="multicolortext">{{'PAGE.SCHOOL.CERTIFICATIONS' | translate}}</h1>
    <div>
      <div class="info-text">2017-2022</div>
      <div class="info-text">{{'PAGE.SCHOOL.ELTE' | translate}}</div>
      <div>
        <h3 style="margin-left: 1rem;">{{'PAGE.SCHOOL.COMPUTER_SIENCE' | translate}}</h3>
        <ul style="margin-left: 2rem; list-style-type: none;">
          <li>BSc alapszintű diploma megszerzése (2022. január)</li>
          <li>Különböző programozási nyelvek elsajátítása</li>
          <li>Magasszintű matematikai ismeretek</li>
          <li>Projekt alapú gyakorlatok</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="info-text">2013-2017</div>
      <div class="info-text">{{'PAGE.SCHOOL.SZECHENYI' | translate}}</div>
      <div>
        <h3 style="margin-left: 1rem;">{{'PAGE.SCHOOL.GRADUATION' | translate}}</h3>
        <ul style="margin-left: 2rem; list-style-type: none;">
          <li>Informatika érettségi emelt szinten</li>
          <li>Szakmai érettségi</li>
          <li>Számítógépes rendszerkarbantartó képesítés</li>
        </ul>
      </div>
    </div>
  </div>
  <div style="padding-bottom: 1rem;">
    <h1 class="multicolortext">{{'PAGE.SCHOOL.SKILLS' | translate}}</h1>
    <div class="info-group">
      <div>
        <h2 class="info-text">{{'PAGE.SCHOOL.PROGRAMING_SKILLS' | translate}}</h2>
        <div>
          <canvas id="prog"></canvas>
        </div>
      </div>
      <div>
        <h2 class="info-text">{{'PAGE.SCHOOL.APPLIED_SOFTWARE' | translate}}</h2>
        <div>
          <canvas id="soft"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
