<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" opened disableClose class="sidenav-class row">
    <div class="menu">
      <button class="menu-btn" (click)="close('toggle button')">
        <span class="material-icons icon">
          arrow_back_ios
        </span>
      </button>
    </div>
    <div class="navbar-group" style="display: flex;">
      <div class="list">
        <div class="group">
          <span class="material-icons icon" [routerLink]="['/profile']" [routerLinkActive]="['selected']">
            person_outline
          </span>
          <span class="material-icons icon" [routerLink]="['/school']" [routerLinkActive]="['selected']">
            school
          </span>
          <span class="material-icons icon" [routerLink]="['/work']" [routerLinkActive]="['selected']">
            work_outline
          </span>
          <span class="material-icons icon" [routerLink]="['/references']" [routerLinkActive]="['selected']">
            public
          </span>
          <span class="material-icons icon" [routerLink]="['/message']" [routerLinkActive]="['selected']">
            chat_bubble_outline
          </span>
        </div>
        <div class="group">
          <app-language-selector></app-language-selector>
          <span class="material-icons icon download" (click)="downloadPdf()">
            cloud_download
          </span>
        </div>
      </div>
      <div class="nav-image" style="max-height: 937px;">
        <img src="https://drive.google.com/uc?export=view&id=17d1ga-pULkouhCA985F7PCr6CCOsnYoG" class="image-style">
        <div class="info">
          <h1 class="name">{{'GENERIC.NAME' | translate}}</h1>
          <h4 class="pos">{{'GENERIC.ROLE' | translate}}</h4>
          <div class="logos">
            <a href="https://www.linkedin.com/in/dorina-magyar/" target="_blank"><img src="https://drive.google.com/uc?export=view&id=1dg9XetFBVrUvQZAs2FR2YrmTx1YkOywJ" class="logo"></a>
            <a routerLink="/message"><img  src="https://drive.google.com/uc?export=view&id=1o4vwZyYOHVpfEa2CxcJiO-DQ83-y7KM9" class="logo"></a>
            <a href="https://www.instagram.com/magyardorina/" target="_blank"><img src="https://drive.google.com/uc?export=view&id=1U5VKsdlj1-Icx6GIKNW8r1QTw_ED4UPe" class="logo"></a>
            <a href="https://www.facebook.com/dorina.magyar2" target="_blank"><img src="https://drive.google.com/uc?export=view&id=1JNWgTznnBqLQKw0XkZOlhztpLtoXhtiq" class="logo"></a>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
<div class="mobile-menu">
  <button class="mobile-btn-menu" (click)="sidenav.open()">
    <span class="material-icons icon ">
      menu
    </span>
  </button>
</div>
