<div>
  <div>
    <h1 class="multicolortext">Magamról</h1>
    <div class="info-text">23 éves/ Budapest / Egyéni vállalkozó</div>
    <div style="padding: 1rem;">Mindig is színes egyéniségnek tartottam magam, szeretek új dolgokat kipróbálni és kalandvágyónak tartom magam.
        Szeretem a kihívásokat és az akadályok leküzdését. Ha kitűzők egy célt magam elé, semmi nem tántoríthat el addig, amíg el nem érem.
    </div>
  </div>
  <div>
    <h1 class="multicolortext">Közösségi</h1>
    <div>
      <div class="info-text">2020-2022</div>
      <div class="info-text">ELTE IK HÖK</div>
      <h3 style="margin-left: 1rem;">Választási Bizottság tag</h3>
      <ul style="margin-left: 2rem; list-style-type: none;">
        <li>
          Éves választások lebonyolításában való részvétel
        </li>
      </ul>
    </div>
    <div>
      <div class="info-text">2018-2020</div>
      <div class="info-text">ELTE IK HÖK</div>
      <h3 style="margin-left: 1rem;">Szervező Bizottság elnöke</h3>
      <ul style="margin-left: 2rem; list-style-type: none;">
        <li>
          Rendezvények szervezése:
          <ul style="list-style-type: none; padding: 1rem;">
            <li style="padding-bottom: 0.5rem;">Gólyatábor,  Sítábor, Fesztivál, Gólyabál, Gólyanapok</li>
            <li>Egyéb egyetemi rendezvények</li>
          </ul>
        </li>
        <li>
          Egyéb feladatok:
          <ul style="list-style-type: none; padding: 1rem;">
            <li>animátorok irányitása</li>
            <li>bizottság vezetése</li>
            <li>alapítvány és kar vezetéssel kapcsolattartás</li>
            <li>jegyzőkönyvek ellenőrzése</li>
            <li>havi beszámoló készítése</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <h1 class="multicolortext">Hobbik</h1>
    <div>
      <div style="display: flex; justify-content: space-evenly; padding: 1rem;">
        <div >
          <div>
            <div class="img-container cropped"
                style="background-image: url(../../../assets/picture/hobbi/cardgame.jpg);
                background-position: center;"
            >
              <!-- <img src="../../../assets/picture/hobbi/cardgame.jpg" class="cropped"> -->
              <div class="text">
                <div class="hide">
                  <span class="material-icons icon extension">
                    extension
                  </span>
                  <h2>Társasjátékok</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div >
          <div class="img-container cropped"
                style="background-image: url(../../../assets/picture/hobbi/genshin.jpg);
                background-position: center;"
          >
            <!-- <img src="../../../assets/picture/hobbi/genshin.jpg" class="cropped"> -->
            <div class="text">
              <div class="hide">
                <span class="material-icons icon">
                  sports_esports
                </span>
                <h2>Számítógépes játékok</h2>
              </div>
            </div>
          </div>
        </div>
        <div >
          <div class="img-container cropped"
                style="background-image: url(../../../assets/picture/hobbi/workout_again.jpg);
                background-position: center;"
          >
            <!-- <img src="../../../assets/picture/hobbi/workout_again.jpg" class="cropped"> -->
            <div class="text">
              <div class="hide">
                <span class="material-icons icon">
                  snowboarding
                </span>
                <h2>Snowboard</h2>
              </div>
            </div>
          </div>
        </div>
        <div >
          <div class="img-container cropped"
                style="background-image: url(../../../assets/picture/hobbi/workout.jpg);
                background-position: center;"
          >
            <!-- <img src="../../../assets/picture/hobbi/workout.jpg" class="cropped"> -->
            <div class="text">
              <div class="hide">
                <span class="material-icons icon">
                  fitness_center
                </span>
                <h2>Edzés</h2>
              </div>
            </div>
          </div>
        </div>
        <div >
          <div class="img-container cropped"
                style="background-image: url(../../../assets/picture/hobbi/art.jpg);
                background-position: center;"
          >
            <!-- <img src="../../../assets/picture/hobbi/art.jpg" class="cropped"> -->
            <div class="text">
              <div class="hide">
                <span class="material-icons icon">
                  palette
                </span>
                <h2>Festés</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
