<div>
  <div>
    <h1 class="multicolortext">Magamról</h1>
    <div class="info-text">23 éves/ Budapest / Egyéni vállalkozó</div>
    <div>Mindig is színes egyéniségnek tartottam magam, szeretek új dolgokat kipróbálni és kalandvágyónak tartom magam.
        Szeretem a kihívásokat és az akadályok leküzdését. Ha kitűzők egy célt magam elé, semmi nem tántoríthat el addig, amíg el nem érem.
    </div>
  </div>
  <div>
    <h1 class="multicolortext">Készségek</h1>
    <h2 class="info-text">Programozási készségek</h2>
    <div>
      <div class="canvas-group">
        <canvas id="angular" max-width="200" max-height="200"></canvas>
        <canvas id="node" max-width="200" max-height="200"></canvas>
        <canvas id="express" max-width="200" max-height="200"></canvas>
      </div>
      <div class="canvas-group">
        <canvas id="type" max-width="200" max-height="200"></canvas>
        <canvas id="html" max-width="200" max-height="200"></canvas>
        <canvas id="css" max-width="200" max-height="200"></canvas>
      </div>
    </div>
    <h2 class="info-text">Alkalmazott szoftverek</h2>
    <div>
      <div class="canvas-group">
        <canvas id="vscode" max-width="200" max-height="200"></canvas>
        <canvas id="github" max-width="200" max-height="200"></canvas>
        <canvas id="mongoDB" max-width="200" max-height="200"></canvas>
      </div>
      <div class="canvas-group">
        <canvas id="confluence" max-width="200" max-height="200"></canvas>
        <canvas id="jira" max-width="200" max-height="200"></canvas>
        <canvas id="aws" max-width="200" max-height="200"></canvas>
      </div>
    </div>
  </div>
</div>
