<div>
  <div>
    <h1 class="multicolortext">{{'PAGE.PROFILE.ABOUT_MYSELF' | translate}}</h1>
    <div class="info-text">{{'PAGE.PROFILE.AGE' | translate}}/ {{'PAGE.PROFILE.RESIDENCE' | translate}} / {{'PAGE.PROFILE.TITLE' | translate}}</div>
    <div style="padding: 1rem;">
      {{'PAGE.PROFILE.ABOUT_MYSELF_DESCRIPTION' | translate}}
    </div>
  </div>
  <div>
    <h1 class="multicolortext">{{'PAGE.PROFILE.COMMUNITY_ROLES' | translate}}</h1>
    <div>
      <div class="info-text">2020-2022</div>
      <div class="info-text">ELTE IK HÖK</div>
      <h3 style="margin-left: 1rem;">{{'PAGE.PROFILE.ELECTION_COMMITTEE_MEMBER' | translate}}</h3>
      <ul style="margin-left: 2rem; list-style-type: none;">
        <li>
          {{'PAGE.PROFILE.ELECTION_DESCRIPTION' | translate}}
        </li>
      </ul>
    </div>
    <div>
      <div class="info-text">2018-2020</div>
      <div class="info-text">ELTE IK HÖK</div>
      <h3 style="margin-left: 1rem;">{{'PAGE.PROFILE.PRESIDENT_OF_THE_EVENT_COMMITTEE' | translate}}</h3>
      <ul style="margin-left: 2rem; list-style-type: none;">
        <li>
          {{'PAGE.PROFILE.EVENTS_ORGANISATION' | translate}}:
          <ul style="list-style-type: none; padding: 1rem;">
            <li style="padding-bottom: 0.5rem;">{{'PAGE.PROFILE.EVENTS' | translate}}</li>
          </ul>
        </li>
        <li>
          {{'PAGE.PROFILE.OTHER_TASKS' | translate}}:
          <ul style="list-style-type: none; padding: 1rem;">
            <li>{{'PAGE.PROFILE.OTHER' | translate}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div style="padding-bottom: 2rem;">
    <h1 class="multicolortext">{{'PAGE.PROFILE.HOBBIES' | translate}}</h1>
    <div>
      <div class="card-hobbies">
        <div >
          <div>
            <div class="img-container cropped"
                style="background-image: url(https://drive.google.com/uc?export=view&id=194Xy38yGwmH9Syz-gjO8X-upZhanQi_w);
                background-position: center;"
            >
              <div class="text">
                <div class="hide">
                  <span class="material-icons icon extension">
                    extension
                  </span>
                  <h2>{{'PAGE.PROFILE.BOARD_GAMES' | translate}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div >
          <div class="img-container cropped"
                style="background-image: url(https://drive.google.com/uc?export=view&id=11vD4EGM3-EVyF-8yTZc9V0qdumOXJZQI);
                background-position: center;"
          >
            <div class="text">
              <div class="hide">
                <span class="material-icons icon">
                  sports_esports
                </span>
                <h2>{{'PAGE.PROFILE.COMPUTER_GAMES' | translate}}</h2>
              </div>
            </div>
          </div>
        </div>
        <div >
          <div class="img-container cropped"
                style="background-image: url(https://drive.google.com/uc?export=view&id=1wmC70-9UNz-Idd4vHi_3McSjoJnM6A44);
                background-position: center;"
          >
            <div class="text">
              <div class="hide">
                <span class="material-icons icon">
                  snowboarding
                </span>
                <h2>{{'PAGE.PROFILE.SNOWBOARDING' | translate}}</h2>
              </div>
            </div>
          </div>
        </div>
        <div >
          <div class="img-container cropped"
                style="background-image: url(https://drive.google.com/uc?export=view&id=1s9IJrYJaN8H21-GqGN7wIFN4fuHBuIqf);
                background-position: center;"
          >
            <div class="text">
              <div class="hide">
                <span class="material-icons icon">
                  fitness_center
                </span>
                <h2>{{'PAGE.PROFILE.WORKOUT' | translate}}</h2>
              </div>
            </div>
          </div>
        </div>
        <div >
          <div class="img-container cropped"
                style="background-image: url(https://drive.google.com/uc?export=view&id=1JQbN9Zq8pLU0PnpcFv8gBaFOE0Wk7Cm0);
                background-position: center;"
          >
            <div class="text">
              <div class="hide">
                <span class="material-icons icon">
                  palette
                </span>
                <h2>{{'PAGE.PROFILE.PAINTING' | translate}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
