<div>
  <div>
    <h1 class="multicolortext">Képesítések</h1>
    <div>
      <div class="info-text">2017-2022</div>
      <div class="info-text">Eötvös Loránd Tudományegyetem</div>
      <div>
        <h3 style="margin-left: 1rem;">Programtervező informatikus</h3>
        <ul style="margin-left: 2rem; list-style-type: none;">
          <li>BSc alapszintű diploma megszerzése (2022. január)</li>
          <li>Különböző programozási nyelvek elsajátítása</li>
          <li>Magasszintű matematikai ismeretek</li>
          <li>Projekt alapú gyakorlatok</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="info-text">2013-2017</div>
      <div class="info-text">Nyíregyházi Széchényi István Közgazdasági, Informatikai Szakközépiskola és Kollégium</div>
      <div>
        <h3 style="margin-left: 1rem;">Érettségi, Számítógépes rendszerkarbantartó </h3>
        <ul style="margin-left: 2rem; list-style-type: none;">
          <li>Informatika érettségi emelt szinten</li>
          <li>Szakmai érettségi</li>
          <li>Számítógépes rendszerkarbantartó képesítés</li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <h1 class="multicolortext">Készségek</h1>
    <h2 class="info-text">Programozási készségek</h2>
    <div>
      <div class="canvas-group">
        <canvas id="angular" max-width="200" max-height="200"></canvas>
        <canvas id="node" max-width="200" max-height="200"></canvas>
        <canvas id="express" max-width="200" max-height="200"></canvas>
      </div>
      <div class="canvas-group">
        <canvas id="type" max-width="200" max-height="200"></canvas>
        <canvas id="html" max-width="200" max-height="200"></canvas>
        <canvas id="css" max-width="200" max-height="200"></canvas>
      </div>
    </div>
    <h2 class="info-text">Alkalmazott szoftverek</h2>
    <div>
      <div class="canvas-group">
        <canvas id="vscode" max-width="200" max-height="200"></canvas>
        <canvas id="github" max-width="200" max-height="200"></canvas>
        <canvas id="mongoDB" max-width="200" max-height="200"></canvas>
      </div>
      <div class="canvas-group">
        <canvas id="confluence" max-width="200" max-height="200"></canvas>
        <canvas id="jira" max-width="200" max-height="200"></canvas>
        <canvas id="aws" max-width="200" max-height="200"></canvas>
      </div>
    </div>
  </div>
</div>
