@import "./theme/theme.scss";

.multicolortext {
  background: linear-gradient(to left,
    var(--light-color) 85%,
    var(--highlight-color) 93%,
    var(--secondary-color),
    var(--main-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

@mixin box-shadow {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(var(--back-purple-color), 0.8);
  -moz-box-shadow: 0px 4px 10px 0px rgba(var(--back-purple-color), 0.8);
  box-shadow: 0px 4px 10px 0px rgba(var(--back-purple-color), 0.8);
}
@mixin button-properties {
  border-width: 2px;
  border-radius: 5px;
  min-width: 140px;
  min-height: 40px;
  font-size: 14px;
  font-weight: 400;
  margin: 4px;
  transition: all 300ms ease-in-out;

  &:hover {
    @include box-shadow;
    border: 1px solid var(--dark-color) !important;
    transition: all 300ms ease-in-out;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    box-shadow: none;
    transition: none;
  }
}

.btn-cta {
  @include button-properties;
  background-image: linear-gradient(
    to left,
    var(--main-color),
    var(--secondary-color)
  ) !important;
  color: var(--white-color) !important;
  font-size: large;
  border: none !important;
  padding: 0.5rem 1.5rem !important;
}

@mixin colored-box-shadow {
  @include box-shadow;
  margin: 1rem;
  padding: 1rem;
}
.white-box-shadow {
  @include colored-box-shadow;
  background-color: var(--white-color);
}

/* Scrollbar css */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--black-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--background-color);
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  height: 100%;
  margin: auto;
  margin-bottom: 2rem;
  width: 70%;
  padding: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}


@media (max-width: 50em){
  .card {
    width: 100%;
    padding: 0px;
  }
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.mat-drawer-inner-container {
  overflow: hidden;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-y: hidden; background-color: var(--black-color);}
