<div>
  <div style="display: flow-root;">
    <h1 class="multicolortext">{{'PAGE.REFERENCES.REFERENCE' | translate}}</h1>
    <div class="card">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/picture/references/portfolio.png" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="flip-card-back card" style="display:grid; justify-content:center;">
            <h2 class="multicolortext title">{{'PAGE.REFERENCES.PERSONAL_PORTFOLIO' | translate}}</h2>
            <p style="text-align: left;">
              {{'PAGE.REFERENCES.PORTFOLIO_DESCRIPT' | translate}}
            </p>
            <div class="date-text">2022.jan. - 2022.feb.</div>
            <a href="https://github.com/magyardor/personalportfolio" target="_blank">
              <div class="link" >
              {{'GENERIC.ACTION.VIEW_SOURCE_CODE' | translate}}
                <span class="material-icons">
                  arrow_forward_ios
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/picture/references/logo_page_header.png" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="flip-card-back card" style="display:grid; justify-content:center;">
            <h2 class="multicolortext title">{{'PAGE.REFERENCES.THESIS' | translate}}</h2>
            <p style="text-align: left;">{{'PAGE.REFERENCES.THESIS_DESCRIPT' | translate}}</p>
            <div class="date-text">2021.szept. - 2021.dec.</div>
            <a href="https://github.com/magyardor/szakdolgozat2021" target="_blank">
              <div class="link">
                {{'GENERIC.ACTION.VIEW_SOURCE_CODE' | translate}}
                <span class="material-icons">
                  arrow_forward_ios
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/picture/references/fullstack.png" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="flip-card-back card" style="display:grid; justify-content:center;">
            <h2 class="multicolortext title">{{'PAGE.REFERENCES.FULLSTACK' | translate}}</h2>
            <p style="text-align: left;">{{'PAGE.REFERENCES.FULLSTACK_DESCRIPT' | translate}}</p>
            <div class="date-text">2021.jan. - 2021.jún.</div>
            <a href="https://github.com/magyardor/fullstack" target="_blank">
              <div class="link">
                {{'GENERIC.ACTION.VIEW_SOURCE_CODE' | translate}}
                <span class="material-icons">
                  arrow_forward_ios
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/picture/references/eve_julia.jpg" style="width: 100%; height: 100%; object-fit: cover;">
          </div>
          <div class="flip-card-back card" style="display:grid; justify-content:center;">
            <h2 class="multicolortext title">{{'PAGE.REFERENCES.EVE_JULIA' | translate}}</h2>
            <p style="text-align: left;">
              {{'PAGE.REFERENCES.EVE_DESCRIPT' | translate}}
            </p>
            <div class="date-text">2019 - 2020</div>
            <a href="https://www.evejulia.hu/" target="_blank">
              <div class="link">
                {{'GENERIC.ACTION.VIEW_WEBSITE' | translate}}
                <span class="material-icons">
                  arrow_forward_ios
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
